@charset "windows-1251";
* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
  min-width: 1150px;
	min-height: 1150px;
}
#conteiner {
  width: 100%;
  height: 100%;
  margin:0px auto;
}
#menu {
  background-color: #212728;
  width: 100%;
  height: 50px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  justify-content: center;
}
.img {
  padding-top: 8px;
  padding-left: 8px;
}
#footer {
  width: 100%;
  height: 150px;
  background-color: #232421;
  clear: both;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
#footer p {
  color: #FFFFFF;
  text-align: left;
  margin-left: 30px;
  padding-top: 20px;
  width: 300px;
  font-size: 17px;
}
#shapka{
	position: relative;
	width: 100%;
	height: 600px;
	background:linear-gradient(45deg,#1A2980,#26D0CE);
	background-repeat: no-repeat;
  display:flex;
  animation: gradient 7s ease infinite;
  background-size: 200% 200%;
}
#newtelega{
  color:#ffffff;
  position: absolute;
  text-align: center;
  font-size: 45px;
  margin-top: 60px;
	width: 100%;
}

#imgshapka{
	width: 800px;
	height: 390px;
	background-image: url(../img/Telegram-Linux.png);
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	margin-left: auto;
  margin-right: auto;
	background-repeat: no-repeat;
  margin-top: 210px;
}
@keyframes gradient{
  0%{
  background-position: 0 50%;
  }
  50%{
  background-position: 100% 100%;
}
  100%{
  background-position: 0% 50%;
}
}
#content {
  width: 1150px;
  height: 100%;
  margin: 0px auto;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 50px;
  min-height: 1750px;
}
#menu ul {
  margin-top: 15px;
  padding: 0;
}
#menu li {
  list-style-type: none;
  display: table-cell;
  padding-left: 30px;
  margin-top: 15px;
  padding-right: 25px;
}
a {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  text-align: left;
  font-size: 17px;
}
#menu a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #FFFFFF;
  left: 0;
  bottom: 0;
  transform: scale(0);
  transition: .5s;
}
#menu a:hover:before {
  transform: scale(1);
}
#telginfo{
	width:100%;
	height: 30px;
}
#telginfo li {
  list-style-type: none;
  display: table-cell;
  padding-left: 30px;
  padding-right: 40px;
  font-size: 20px;
}
#telginfo ul{
  margin-left: 21%;
  padding-bottom: 5px;
  border-bottom: 1px outset #7A7A7A;
  width: 655px;
}
#Telegram {
  width: 500px;
  height: 200px;
  padding-right: 13px;
  text-align: left;
  margin-top: 100px;
  font-size: 21px;
  float: left;
}
#Telegram2 {
  width: 550px;
  height: 250px;
  border-radius: 13px;
  float: right;
  margin-top: 90px;
}
#Telegram2 a img {
  border-radius: 13px;
  width: 500px;
  height: 200px;
  float: right;
}
#Telegram2 a {
  border-radius: 13px;
  width: 500px;
  height: 200px;
  float: right;
}
#Telegram2 p {
  position: absolute;
  text-align: center;
  width: 500px;
  height: 123px;
  opacity: 0;
  transition-duration: 0.3s;
  padding-top: 80px;
  font-size: 35px;
  float: right;
}
#Telegram2 p:hover {
  color: #ffffff;
  width: 500px;
  height: 123px;
  display: block;
  opacity: 1;
  transition-duration: 0.3s;
  font-size: 35px;
}
#Telegram2 a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  border-radius: 13px;
  opacity: 0;
  transition: 0.5s ease;
}
#Telegram2 a:hover:before {
  opacity: 1;
  color: #FFFFFF;
}
#Telegram p {
  color: #000000;
  padding-top: 35px;
}
#h1 {
  text-align: center;
  margin-top: 150px;
  font-size: 50px;
}
body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
body::-webkit-scrollbar-thumb {
  background-color: #7a7a7a;
  border-radius: 20px;
}
.p {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}
#mytel {
  margin-top: 10px;
}
#mytel a {
  color: #ffffff;
  text-align: center;
  width: 200px;
  height: 34px;
  background-color: #4a17d4;
  margin-top: 30px;
  float: left;
  padding-top: 10px;
  border-radius: 25px;
  font-size: 20px;
  transition-duration: 0.5s;
  margin-left: 42%;
}
#mytel a:hover {
  background-color: #3f18a8;
  transition-duration: 0.5s;
  color: #b3b3b3;
}
#chati {
  width: 500px;
  height: 200px;
  float: left;
  padding-top: 150px;
  position: relative;
}
#chati img {
  width: 500px;
  height: 200px;
  border-radius: 13px;
  float: left;
}
#chati a {
  width: 500px;
  height: 200px;
  border-radius: 13px;
  float: left;
}
#chati p {
  position: absolute;
  text-align: center;
  width: 500px;
  height: 123px;
  opacity: 0;
  transition-duration: 0.3s;
  padding-top: 85px;
}
#chati p:hover {
  position: absolute;
  color: #ffffff;
  text-align: center;
  font-size: 35px;
  width: 500px;
  height: 123px;
  display: block;
  opacity: 1;
  transition-duration: 0.3s;
}
#chati a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  border-radius: 13px;
  opacity: 0;
  transition: 0.5s ease;
}
#chati a:hover:before {
  opacity: 1;
}
#chati2 {
  width: 500px;
  height: 200px;
  font-size: 21px;
  padding-top: 130px;
  color: black;
  float: right;
}
#content p {
  font-size: 19px;
}

#telnews{
  float: left;
  margin-top: 100px;
  margin-left: 3%;
  width: 1100px;
}
#telnews h1{
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}
#telnews h1 a{
  width: 10px;
}
#telnews #news{
  width: 300px;
  height: 250px;
  background-color: #ffffff;
  margin: 33px;
  float:left;
  border-radius: 10px;
}
#telnews #news img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#telnews #news #pnews1{
  margin-top:15px;
  font-size: 20px;
  color:#000000;
  padding-left: 5px;
}
#telnews #news #pnews2{
  margin-top:10px;
  font-size: 17px;
  color:#000000;
  padding-left: 5px;
}
#telnews #news #pdata{
  margin-top:5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 14px;
  color:#5f6a80;
}
#telnews #news #read{
  margin-top:5px;
  color: #4c73b1;
  font-size: 17px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#telnews #news a:hover{
  box-shadow: 0 0 10px #00000080;
  border-radius: 10px;
  transition-duration: 0.5s;
}
#telnews #news a{
  border-radius: 10px;
  transition-duration: 0.7s;
}
.posit{
	color:#C0C0C0;
}
/*/BD343C
452E4C
238B8F
34AB8F
FEEDD9
